/* Responsive design Vector img */
@media (min-width: 375px) and (max-width: 400px) {
.vector-img{
   top: 35%;
  margin: 0% 10% 0% 0%;
}
.img-container{
   height: 610px;
}
}
@media (min-width: 400px) and (max-width: 475px) {
.vector-img{
   top: 25%;
  margin: 0% 10% 0% 0%;
}
.img-container{
   height: 610px;
}
}
@media (min-width: 475px) and (max-width: 500px) {
.vector-img{
   top: 15%;
  margin: 0% 10% 0% 0%;
}
.img-container{
   height: 610px;
}
}
@media (min-width: 500px) and (max-width: 570px) {
.vector-img{
   top: 10%;
   left: 25%;
   margin: 0% 10% 0% 0%;
}
.img-container{
   height: 610px;
}
}
@media (min-width: 570px) and (max-width: 640px) {
.vector-img{
   top: 0%;
   left: 25%;
   margin: 0% 10% 0% 0%;
}
.img-container{
   height: 670px;
}
}
@media (min-width: 640px) and (max-width: 767px) {
.vector-img{
   top: 0%;
   left: 25%;
}
.img-container{
   height: 630px;
}
}
@media (min-width: 767px) and (max-width: 1024px) {
.vector-img{
   top: 25%;
   left: 40%;
}
.img-container{
   height: 770px;
}
}
@media (min-width: 1024px) and (max-width: 1300px) {
.vector-img{
   margin-right: 10%;
}
}

