.btn {
  width: 252px;        
  height: 50px;        
  border-radius: 50px; 
  font-weight: 700;
  font-size: 16px;     
}

@media (max-width: 640px) {
  .btn {
    width: 180px;
    height: 40px;
    border-radius: 35px;
    font-size: 12px;
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  .btn {
    width: 210px;
    height: 45px;
    border-radius: 45px;
    font-size: 15px;
  }
}


